.jobItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searchBodyContainer {
  margin-bottom: 8%;
}

.jobItemContainerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4% 0%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jobItemContainerTopTitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: #2A2E45;
}

.jobItemContainerTopReturn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 4%;
}

.jobItemContainerTopReturn button {
  border-radius: 6%;
  font-weight: 600;
  color: white;
}

.jobItemContainerTopReturnBtn {
  height: 100%;
  background-color: #92BCEA;
}

.jobItemContainerTopReturnBtn:hover {
  color: #92BCEA;
  background-color: #2A2E45;
  cursor: pointer;
}

.jobItemContainerApplyBtn {
  height: 66%;
  background-color: #6AD5CE;
  color: white;
}

.jobItemContainerApplyBtn:hover {
  color: #6AD5CE;
  background-color: #2A2E45;
  cursor: pointer;
}

.jobItemContainerDate {
  font-size: 0.8rem;
}

.jobItemContainerCompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jobItemContainerCompanyLogo img {
  height: 1.6rem;
}

.info {
  color: #808384;
  font-weight: 600;
}

.jobItemContainerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
}

.jobItemContainerDescription {
  margin: 4%;
  text-align: left;
}

@media only screen and (min-width: 500px) {
  .jobItemContainer {
    padding-top: 0;
  }
  .jobItemContainer .jobItemContainerTop {
    margin: 0;
    margin-top: 4%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jobItemContainer .jobItemContainerTop .jobItemContainerTopTitle {
    font-size: 1.8rem;
    margin-right: 2%;
  }
  .jobItemContainer .jobItemContainerTop .jobItemContainerTopReturn {
    margin: 0;
    width: 16%;
  }
  .jobItemContainer .jobItemContainerTop .jobItemContainerTopReturn .jobItemContainerTopReturnBtn {
    font-weight: 700;
    font-size: 0.8rem;
  }
  .jobItemContainer .jobItemContainerCompany {
    margin-top: 4%;
    display: block;
  }
  .jobItemContainer .jobItemContainerInfo {
    margin-top: 0;
  }
  .jobItemContainer .jobItemContainerDescription {
    font-size: 1.1rem;
  }
  .jobItemContainerApplyBtn {
    height: 100%;
    font-weight: 700;
    font-size: 0.8rem;
  }
  #howToApply {
    font-size: 1.3rem;
    color: #2A2E45;
    font-weight: 600;
  }
  #jobItemHrToApply {
    width: 66%;
    border: 1.1px solid #92BCEA;
  }
}
/*# sourceMappingURL=JobItem.css.map */