.jobItemContainer {
    // background-color: #92BCEA;
    background-color: #fff;
    padding-top: 2%;
}

.jobItemSmall {
    display:flex;
    justify-content: space-around;
    font-size: 0.9rem;
}

.jobCard {
    display: flex;
    margin: 0% 2%;
}

.jobCardCompanyLogo {
    display: flex;
    width: 30%;
}

.jobCardCompanyLogo img {
    width: 100%;
    padding-top:10%;
}

.jobCardTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #2A2E45;
}

.jobCardInfo {
    width: 100%;
    margin:3%;
}

.jobCardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13vh;
    justify-content: space-evenly;
    color:#9B9FA0;

    span:first-child {
        color: #808384;
        font-weight: 600;
    }

    span:nth-child(2) {
        font-size: 0.9rem;
        font-style: italic;
    }

    span:last-child {
        color: #808384;
        font-size: 0.8rem;
        font-weight: 600;
    }
}

@media only screen and (min-width:500px) {
    .jobItemContainer{
        flex-direction: row;
    }
    .jobCard {
        flex-direction: row;
        align-items: center;
    }
    .jobCardCompanyLogo {
        height: 3.6rem;
        width:6%;
        align-items: center;
        img {
            height: 100%;
            width:100%;
            padding-top:0;
        }
    }
    .jobCardInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .jobCardBody {
            width:100%;
            flex-direction: row;
            height:4vh;
        }
    hr {
        display:none;
    }
    }
}