// @use "../../Main" as Main;
// $btn: Main.$buttonColor;

.searchContainer {
    width: 100%;
    display: flex;
}

#fulltimeLabel {
    font-size: 0.8rem;
    color:white;
    font-weight: bold;
}

.smallSearchContainer {
    display: flex;
    justify-content: space-between;
    margin: 0px 3%;
}

.smallInputsContainer{
    display: flex;
    flex-direction: column;
    height: 7vh;
    justify-content: space-between;
}

.smallLocationFulltimeContainer {
    display:flex;
    width: 75vw;
    justify-content: space-between;
}

.smallFullTimeContainer{
    display: flex;
    align-items: center;
}

#searchByTerm {
    float: left;
    width: 100%;
}

.smallButtonContainer {
    display: flex;
    align-items: center;
}

.smallButtonContainer button{
    background-color: #6AD5CE;
    height: 66%;
    border-radius: 6%;
}