.App {
  text-align: center;
  height:100vh;
  background-color: #2A2E45;
  font-family: "helvetica";
}

.bodyContainer{
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height:15vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size:2.5rem;
  margin: 0;
  color: #92BCEA;
}

.jobContainerTopBlueBar {
  height: 1vh;
  background-color: #92BCEA;
}